.vscode
good_references
development/typemill/typemill-app-src
development/cmsms/kubernetes
development/cmsms/cmsms-app-src/app/config.php
development/cmsms/cmsms-app-src/app/tmp/cache/*
development/cmsms/cmsms-app-src/app/tmp/templates_c/*
development/db-backup/kubernetes